
// background colors and font colors

$color-primary:#eb2227;
$color-secondary:#eb2227;
$color-background:#e9f0f4;
$color-background-white:#ffff;
$color-text-blue:#099bf8;
$color-text-dark:#333333;
$color-text-red:#eb2228;
